# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
csv2db/clear.py

# Virtual environment
venv/
.venv/
ENV/
env/
env.bak/
*.env
.env

# VS Code
.vscode/

# Flask related
instance/
*.db
*.sqlite
*.log

# Freemarker (если в Java проектах)
*.ftl~

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy / Pyright / Pylint / Ruff
.mypy_cache/
.pyright/
.pylint.d/
.ruff_cache/

# IDEs
.idea/
*.iml

# MacOS / Windows
.DS_Store
Thumbs.db
