<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Сенсоры</title>
</head>

<body>
    <h1>Список сенсоров</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Единицы измерения</th>
            </tr>
        </thead>
        <tbody>
            {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.sensor_id }}</td>
                <td>{{ sensor.sensor_name }}</td>
                <td>{{ sensor.sensor_type }}</td>
                <td>{{ sensor.unit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><a href="/">← Назад</a>
</body>

</html>